:root {
	--primary: #282828;
	--secondary: #23bb02;
	--secondary-light: rgba(10, 250, 0, 0.2);
}

@font-face {
	font-family: "Ubunto Mono";
	src: url("/fonts/UbuntuMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ubunto Mono";
	src: url("/fonts/UbuntuMono-Bold") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Ubunto Mono";
	src: url("/fonts/UbuntuMono-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Ubunto Mono";
	src: url("/fonts/UbuntuMono-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Ubuntu Mono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
