.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.slogan {
	text-align: center;
}

.slogan {
	margin: 1rem 0;
	font-size: 1.5rem;
}

.cta {
	border: 1px solid #000;
	border-radius: 2px;
	background: linear-gradient(30deg, #000, #555);
	color: #22bb0b;
	padding: 1rem 2rem;
	margin: 1rem 0;
	font-family: "Ubuntu Mono";
	font-size: 1rem;
	transition: opacity 0.5s ease-in-out;
}

.cta:hover {
	cursor: pointer;
	background: linear-gradient(30deg, #555, #000);
	opacity: 0.9;
}

.cta .clicked {
	background: linear-gradient(30deg, #555, #000);
	opacity: 0.9;
}
